<ng-container *ngIf="{ x$, selectedItems$ } | myCombineLatest | async as props">
    Rendered: {{props.x$.value}}
</ng-container>

<ng-container *ngIf="{ myData$, selectedItems$ } | myCombineLatest | async as props">
  <my-multi-selector
    [selectedItems]="props.selectedItems$.value"
    [data]="props.myData$.value"
    (onSelectedItemsChange)="onSelectedChange($event)"
    [isInitialOnSelectedItemsChangeSkipped]="false"
  ></my-multi-selector>
</ng-container>

<!-- <eager></eager>
<ng-container *ngIf="{
    a: propertyA$ | async, 
    b: propertyB$ | async
} as props;">
    <div *ngIf="props | myArePropsDefined">
        {{ props.a }} {{ props.b }}
    </div>
</ng-container>
<button [myCallout]="'Tooltip text which will be shown.'">Show tooltip? Hover.</button>

<footer>Footer</footer> -->
<router-outlet></router-outlet>
