

<!-- <ng-container *ngIf="{
    a: propertyA$ | async, 
    b: propertyB$ | async
} as props;">
    <div *ngIf="props | myArePropsDefined">
        {{ props.a }} {{ props.b }}
    </div>
</ng-container>
<button [myCallout]="'Tooltip text which will be shown.'">Show tooltip? Hover.</button>

<footer>Footer</footer> -->

<!-- #region my-test-component -->
<!-- Error: MyTestComponentComponent has no input props therefor RequiredInputs decorator is useless. -->
<my-test-component></my-test-component> 
<!-- #endregion my-test-component -->


<ng-container #dynamicContainer></ng-container>
<button (click)="createContainer()">Create Container</button>
<router-outlet></router-outlet>

