<div>My Eager Component</div>

<ng-container *ngIf="{ myData$, selectedItems$, myObject$, myPromise$ } | await as props; else loading">
  {{ props.myPromise$.value | json }}
  
  <my-multi-selector #blockThree
    [selectedItems]="props.selectedItems$.value"
    [data]="props.myData$.value"
    (onSelectedItemsChange)="onSelectedChange($event)"
    [isInitialOnSelectedItemsChangeSkipped]="true"
  ></my-multi-selector>
</ng-container>
  
<button [routerLink]="'/lazy-module'">Lazy Module</button>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
